.section_wrapper {
    padding: 30px 7vw;
    box-sizing: border-box;
    background: var(--background-linear-grad);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;

    font-size: 16px;
}

.text_wrapper {
    width: 45%;
}

.subheading {
    margin: 0px 0px 0.5em;
    font-size: 1.07em;
    font-weight: 600;
    color: var(--color-blue-primary);
}

.heading {
    margin: 0px;
    font-size: 3em;
    font-weight: 600;
    color: var(--color-blue-dark2);
}

.para {
    margin: 1em 0px;
    font-size: 1.07em;
    font-weight: 500;
    line-height: 2.5em;
    color: #77829D;
    font-family: 'Inter';
}

.cards_wrapper {
    font-size: 16px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.2em;
}

.card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: 0px 15px 45px -5px #00000012;
    border: none;
    border-radius: 8px;
    gap: 1em;

    height: 19em;
    width: 15em;
}

.card_image {
    height: 6.25em;
    width: 6.25em;
    object-fit: cover;
    overflow: hidden;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_image img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.card_wrapper h1 {
    margin: 0px;
    font-size: 3em;
    font-weight: 600;
    color: var(--color-blue-dark2);
}

.card_wrapper h4 {
    margin: 0px;
    font-size: 1.125em;
    font-weight: 500;
    color: #77829D;
}

.left_side_cards {
    display: flex;
    flex-direction: column;
    gap: 2.2em;
}

.right_side_cards {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 2.2em;
}

@media screen and (max-width: 1250px) {
    .cards_wrapper {
        font-size: 14px;
    }
}

@media screen and (max-width: 1050px) {
    .cards_wrapper {
        font-size: 12px;
        width: 50%;
    }
    .section_wrapper {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .cards_wrapper {
        width: 100%;
        justify-content: space-evenly;
    }
    .text_wrapper {
        width: 100%;
    }
}