.section_wrapper {
    background: var(--background-linear-grad);
    padding: 40px 7vw;
    box-sizing: border-box;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.images_wrapper {
    width: 45%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.patient_caring_1 {
    /* height: 275px; */
    /* width: 332px; */
    width: 60%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    /* bottom: 0px; */
    top: 40%;
    right: 20%;
    z-index: 3;
}

.patient_caring_2 {
    /* height: 275px;
    width: 332px; */
    width: 60%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    /* top: 0px; */
    bottom: 40%;
    right: 0px;
    z-index: 2;
}

.note_card {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    /* height: 80px; */
    /* width: 230px; */
    background-color: var(--color-white);
    box-shadow: 0px 40px 40px -15px #94B6CE26;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Inter';
    padding: 12px 20px;
    box-sizing: border-box;

    position: absolute;
    left: 12%;
    top: 16%;
    z-index: 4;
}

.note_card_top {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.note_card_top h4 {
    margin: 0px;
    /* font-size: 16px; */
    font-size: 1em;
    font-family: 700;
    color: var(--color-blue-dark2);
}

.note_card p {
    margin: 0px 0px 0px 6px;
    /* font-size: 15px; */
    font-size: 0.9em;
    font-weight: 500;
    color: #77829D;
}

.phone_icon {
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    /* height: 32px;
    width: 32px; */
    height: 2em;
    width: 2em;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts_wrapper {
    width: 50%;
    height: 100%;
    font-size: 16px;
    padding-top: 100px;
    word-spacing: 2px;
    letter-spacing: 0.75px;
}

.first_sub_heading {
    margin: 0px;
    font-size: 1em;
    font-weight: 600;
    color: var(--color-blue-primary);
}

.heading {
    margin: 0px;
    font-size: 3em;
    font-weight: 600;
    color: var(--color-blue-dark2);
}

.heading span {
    color: var(--color-blue-primary);
}

.para {
    margin: 1.25em 0px 0px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 0.06em;
    color: #77829D;
}

.true_icon_line {
    display: flex;
    align-items: center;
    gap: 0.45em;
    color: var(--color-blue-dark2);
    font-size: 1.125em;
    font-weight: 500;
    font-family: 'Roboto';
    margin: 1.7em 0px;
}

.true_icon_line h4 {
    margin: 0px;
}

@media screen and (max-width: 1250px) {
    .texts_wrapper {
        font-size: 14px;
        word-spacing: normal;
    }
    .section_wrapper {
        height: 500px;
    }
    .note_card {
        font-size: 14px;
        left: 8%;
    }
}

@media screen and (max-width: 1000px) {
    .texts_wrapper {
        font-size: 12px;
        word-spacing: normal;
    }
    .section_wrapper {
        height: 400px;
    }
    .note_card {
        font-size: 12px;
        left: 5%;
    }
}

@media screen and (max-width: 850px) {
    .texts_wrapper {
        width: 100%;
    }
    .images_wrapper {
        width: 100%;
    }
}