.section_wrapper {
    margin: 30px 5vw 20px;
    background-color: var(--color-white);
    /* height: 620px; */
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 30px;
    font-size: 48px;
    font-weight: 600;
    color: var(--color-blue-dark2);
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.swiper {
    width: 100%;
    height: 100%;
}

.card_wrapper {
    /* height: 500px; */
    font-size: 16px;
    width: 21.875em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_wrapper {
    height: 24.375em;
    width: 100%;
    background: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
    border-radius: 50% 50% 4px 4px;
    box-sizing: border-box;
    padding: 1.875em 1em 0px;
    box-shadow: 0px 15px 55px -10px #00000017;
}

.image_wrapper img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.card_wrapper h4 {
    margin: 0.42em 0px;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--color-blue-dark2);
}

.card_wrapper p {
    margin: 0px;
    font-size: 1em;
    font-weight: 500;
    color: var(--color-blue-primary);
}

@media screen and (max-width: 1250px) {
    .card_wrapper {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 1050px) {
    .card_wrapper {
        font-size: 10px;
    }
    .heading {
        font-size: 40px;
    }
}
